:root{
  --primary-color:  #E2F5FB;
  --secondary-color:  #17414F;
  --tertiary-color:  #003569;
  --gray:  #727272;

}

html,
body {
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex ;
}

.column{
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  font-family: 'Jost', sans-serif;
}

.headingLogo{
  height: 55px;
  width: 200px;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

